<div class="flex flex-row my-1 h-12 max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md">
    <img class="object-cover w-full h-48" src="/passwordManagerFrontEnd/src/assets/user_13984171.png" alt="image">
    <div class="flex flex-col p-4">
        <div class="flex flex-col">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Card Title</h5>
        <p class="mb-3 font-normal text-gray-700 overflow-auto">Here is a brief description or content of the card. This text can be adjusted based on the content.</p>
       
        </div>
       
    </div>
    <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Read more 
        <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L15.586 11H3a1 1 0 110-2h12.586l-5.293-5.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>