<section class="flex justify-center flex-col items-center"> 
    <section class="flex flex-col justify-start items-center h-80 w-64 bg-slate-200 mb-10 rounded-3xl">
      <div class="mt-10 mb-10 ">
        <h2 class="font-thin text-2xl">Password manager</h2>
      </div>
      <input placeholder="Email.." class="w-48 mb-4 border-slate-500 border">
      <input placeholder="Password.." class="w-48 mb-4  border-slate-500 border">
      <div class="flex flex-row items-center justify-start w-48 mb-5">
        <input type="checkbox" class="mr-2">
        <p class="text-sm ">remember me</p>
      </div>
      <div class="flex w-20 h-10 bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full">
        <button class="text-sm"  (click)="navigateToMainPage()">Sign in</button>
      </div>
     
    </section>
    <section class="flex flex-row items-center w-56 h-20  bg-slate-200 rounded-full">
      <p class="mr-5 ml-5">New user?</p>
        <button class="text-sm w-20 h-10 bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full" (click)="navigateToSignUp()">Sign up</button>
    </section> 
  </section>